* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.header-right span {
  display: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(markus-spiske-qjnAnF0jIGk-unsplash.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-family:"Bebas Neue";
  opacity: 0.8;
  font-size: 70px;
  letter-spacing: 2px;
  padding: 0px;
  margin: 0px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(59, 58, 56, 0.9);
  position : fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 80%;
  margin-top: 3px;
}

.header-left {
  float: left;
}

.header-right {
  font-family:"Minion Pro";
  float: right;
  margin-right: -25px;
  font-size: 20px
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  color:white;
}
.menu:hover {
  background-color: rgba(127, 140, 141, 0.3);
}

.home {
  background-color: rgba(127, 140, 141,0.4);
}

.home:hover {
  background-color: rgba(127, 140, 141,0.3);
}


/*Bagian Bagas untuk selamat datang dan card*/
.lesson-wrapper1 {
padding-bottom: 80px;
padding-left: 5%;
background-color: #f7f7f7;
padding-right: 5%;
text-align: center;
}

.heading1 {
 padding-top: 80px;
 padding-bottom: 50px;
 color: #5f5d60;
 }

.heading1 h2 {
 font-weight: normal;
}

.container1
{
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.5s;
}

.container1 .card
{
  position: relative;
  width: 250px;
  height: 300px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.container1:hover .card
{
  filter: blur(5px);
  transform: scale(.7);
}

.container1 .card:hover
{
  filter: blur(0px);
  transform: scale(1);
}


.container1 .card:before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  transition: 0.5s;
}

.container1 .card:hover:before
{
  background: #000;
  transform: scaleY(1.15);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.container1 .card .content
{
  text-align: center;
  z-index: 2;
  padding: 0 20px;
  transition: 0.5s;
}

.container1 .card:hover .content
{
  color: #fff;
}

.container1 .card .content h2
{
  font-size: 14px;
}

.container1 .card .content p
{
  font-size: 0.9em;
  text-align: center;
}

.container1 .card .content a
{
  display: inline-block;
  margin-top: 15px;
  padding: 5px 10px;
  background: #262626;
  color: #fff;
  text-decoration: none;
}

.container1 .card:hover .content a
{
  background: #2196f3;
}

/* Begin Bag. Asrani */

.bodyteam
{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: consolas;
}


.lesson-wrapper {
  padding-bottom: 80px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}


.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
  text-align: center;
}

.heading .judul {
  font-weight: normal;
  align-items: center;
}

.containerteam
{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.containerteam .box
{
  position: relative;
  width: 230px;
  height: 350px;
  margin: 10px 0;
  box-sizing: border-box;
  overflow: hidden;
}
.containerteam .box .imgBx
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(400px at center 100px);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.containerteam .box:hover .imgBx
{
  clip-path: circle(80px at center 100px);
  transition-delay: 0s;
}
.containerteam .box .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containerteam .box .content
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.containerteam .box .content h2
{
  margin: 0;
  padding: 0;
  margin-top: 10%;
  font-size: 12px;
}

.containerteam .box .content font
{
  margin: 0;
  padding: 0;
  margin-top: 10%;
  font-size: 100%;
}

.containerteam .box .content a
{
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 5px;
  display: inline-block;
}
.containerteam .box .content h2,
.containerteam .box .content p,
.containerteam .box .content a,
.containerteam .box .content font
{
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}
.containerteam .box:hover .content h2
{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s
}
.containerteam .box:hover .content p
{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.7s
}
.containerteam .box:hover .content a
{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s
}


.containerteam .box .content .social {
  margin-top: 15px;

}

.containerteam .box .content .social .asosial {
  transition: none;
  color: #fff;
}

.containerteam .box .content .social .asosial:hover {
  color: #18d26e;
}

.containerteam .box .content .social i {
  font-size: 18px;
  margin: 0 2px;
}

.tombol_web
{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 10px 0 10px 0;
  color: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
}

.tombol_web:hover
{
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animateh 5s linear infinite;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
          0 0 25px #03e9f4,
          0 0 50px #03e9f4,
          0 0 200px #03e9f4;
}

@keyframes animate
{
  0%,100%
  {
    filter: hue-rotate(0deg);
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
  }
  50%
  {
    filter: hue-rotate(360deg);
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
  }
}

@keyframes animateh
{
  0%,100%
  {
    filter: hue-rotate(0deg);
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
  }
  50%
  {
    filter: hue-rotate(360deg);
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
  }
}

.tombol_web .span_tombol_web_neon
{
  position: absolute;
  display: block;
}


.tombol_web .span_tombol_web_neon:nth-child(1)
{
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}


@keyframes animate1
{
  0%
  {
    left: -100%;
  }
  50%,100%
  {
    left: 100%;
  }
}
.tombol_web .span_tombol_web_neon:nth-child(2)
{
  top: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}


@keyframes animate2
{
  0%
  {
    top: -100%;
  }
  50%,100%
  {
    top: 100%;
  }
}
.tombol_web .span_tombol_web_neon:nth-child(3)
{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}


@keyframes animate3
{
  0%
  {
    right: -100%;
  }
  50%,100%
  {
    right: 100%;
  }
}
.tombol_web .span_tombol_web_neon:nth-child(4)
{
  bottom: -100%;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}


@keyframes animate4
{
  0%
  {
    bottom: -100%;
  }
  50%,100%
  {
    bottom: 100%;
  }
}

.title_web
  {

  color: linear-gradient(to top, #008aff, #00ffe7);
  animation: animatet 5s linear infinite;
  }
  @keyframes animatet
  {
    0%,100%
    {
      filter: hue-rotate(0deg);
    }
    50%
    {
      filter: hue-rotate(360deg);
    }
  }


  .containerteam .box .content .tombol_web_read
  {
      position: relative;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      margin: 4px 0;
      color: linear-gradient(to top, #008aff, #00ffe7);
      animation: animate 5s linear infinite;
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: 0.5s;
      letter-spacing: 1px;
      box-shadow: 0 0 40px rgba(0,0,0,0.5);
      background: transparent;
      /*-webkit-box-reflect: below 1px linear-gradient(transparent,#0005);*/
  }
  .containerteam .box .content .tombol_web_read .span_tombol_web_read
  {
      position: absolute;
      display: block;
      background: #086B08;
  }
  .containerteam .box .content .tombol_web_read .span_tombol_web_read:nth-child(1)
  {
      top: 0;
      left: 0;
      transform: translateY(0);
      width: 5px;
      height: 100%;
  }
  .containerteam .box .content .tombol_web_read:hover .span_tombol_web_read:nth-child(1)
  {
      transition: 0.5s;
      transform: translateY(-100%);
  }
  .containerteam .box .content .tombol_web_read .span_tombol_web_read:nth-child(4)
  {
      top: 0;
      right: 0;
      transform: translateY(0);
      width: 5px;
      height: 100%;
  }
  .containerteam .box .content .tombol_web_read:hover .span_tombol_web_read:nth-child(4)
  {
      transition: 0.5s;
      transform: translateY(100%);
  }
  .containerteam .box .content .tombol_web_read .span_tombol_web_read:nth-child(2)
  {
      top: 0;
      left: 0;
      transform: translateX(-100%);
      width: 100%;
      height: 5px;
  }
  .containerteam .box .content .tombol_web_read:hover .span_tombol_web_read:nth-child(2)
  {
      transform: translateX(100%);
      transition: 0.75s;
      transition-delay: 0.25s;
  }
  .containerteam .box .content .tombol_web_read .span_tombol_web_read:nth-child(5)
  {
      bottom: 0;
      left: 0;
      transform: translateX(100%);
      width: 100%;
      height: 5px;
  }
  .containerteam .box .content .tombol_web_read:hover .span_tombol_web_read:nth-child(5)
  {
      transform: translateX(-100%);
      transition: 0.75s;
      transition-delay: 0.25s;
  }
  .containerteam .box .content .tombol_web_read .span_tombol_web_read:nth-child(3)
  {
      top: 0;
      right: 0;
      transform: translateY(-100%);
      width: 5px;
      height: 100%;
  }
  .containerteam .box .content .tombol_web_read:hover .span_tombol_web_read:nth-child(3)
  {
      transition: 0.5s;
      transition-delay: 0.5s;
      transform: translateY(0);
  }
  .containerteam .box .content .tombol_web_read .span_tombol_web_read:nth-child(6)
  {
      top: 0;
      left: 0;
      transform: translateY(100%);
      width: 5px;
      height: 100%;
  }
  .containerteam .box .content .tombol_web_read:hover .span_tombol_web_read:nth-child(6)
  {
      transition: 0.5s;
      transition-delay: 0.5s;
      transform: translateY(0);
  }
/* End Bag. Asrani */

/* Start Bag. Arfin */
.hero2 h1 {
  font-family: "Poppins";
  font-weight: 700;
  color: #2f281e;
}
.hero2 h5 {
  font-family: "Poppins";
  font-weight: 700;
  color: #2f281e;
}
.hero2 p {
  font-family: "Montserrat";
  font-weight: 300;
  color: #2f281e;
}
/* End Bag. Arfin */

/* Start Bag. Andi */

.footer-container {
  height: 260px;
  width: auto;
  padding: 20px 20px 45px;
  background-color: #2f3640;
  background-image: url(engin1.png);
  background-size: cover;
  color: #f5f6fa;
  position: relative;
}

.footer-logo {
  float: left;
  text-align: center;
  opacity: 0.7;
  box-sizing: border-box;
}

.footer-contact {
  float: right;
  margin-top: 20px;
  margin-right: 20%;
  box-sizing: border-box;
}

.footer-contact h3 {
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f5f6fa;
  opacity: 0.7;
}


.footer-icon {
  width: 25%;
  margin-top: -17px;
  float: left;
  padding: 10px 10px 0 0;
  font-size: 34px;
  opacity: 0.6;
  transition: all 0.5s;
  box-sizing: border-box;
}

.footer-icon:hover {
  opacity: 1;
  font-size: 40px;
  color: #fff;
}

.footer-icon a {
  color: #fff;
}

.footer-icon a:hover {
  color: #fff
}

.btn-tombol {
  box-sizing: border-box;
  float: right;
  position: absolute;
  top: 45%;
  right: 24%;
}

.tombol {
  width: 120px;
  margin-top: 5px;
  padding: 5px 24px;
  color: #fff;
  display: inline-block;
  opacity: 0.8;
  background-color: #353b48;
  margin: 5px 0;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 7px grey;
  font-size: 16px;
}

.tombol:hover {
  opacity: 1;
}

.btn-tombol a:hover {
  color: #fff;
}

.tombol:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.footer-tim {
  float: left;
  margin: 40px 0 10px 30px;
}

.project-tim {
  font-size: 20px;
  padding-top: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f5f6fa;
  opacity: 0.7;
}

.footer-tim ul {
  margin-top: 10px 0 0 0;
  padding: 0;
}

.footer-tim li {
  font-size: 18px;
  margin: 0 20px 5px 0;
  opacity: 0.7;
  transition: all 0.3s;
  list-style: none;
}

.footer-tim li:hover {
  opacity: 1;
  border-bottom: 1px solid #f5f6fa;
  font-size: 22px;
}


  /*Begin Reg Edit Bag. Asrani*/
  .footer-copyright {
    height: 55px;;
    background-color: #262626;
    color: grey;
    padding: 50px 50px;

  }

  .text-1 {
    float: left;
    margin: 0 auto;
  }

  .text-1 .teks-kiri {
    font-size: 14px;
  }

  .text-2 {
    float: right;
    margin: 0 auto;
  }

  .text-2 .teks-kanan {
    font-size: 14px;
  }
  /*End Reg Edit Bag. Asrani*/

/* End Bag.Andi */
